!!! 5
html(lang="en")
	head
		block stylesheets
			link(href='css/south-street/jquery-ui-1.8.16.custom.css', rel='stylesheet', type='text/css')
			link(href='css/jquery.jqGrid-4.2.0/ui.jqgrid.css', rel='stylesheet', type='text/css')
			link(href='css/style.css', rel='stylesheet', type='text/css')
		block scripts
			script(src='js/support/jquery-1.6.2.min.js')
			script(src='js/customSelect.jquery.js')
			script(src='js/support/jquery.jqGrid-4.2.0/js/grid.locale-en.js')
			script(src='js/support/jquery.jqGrid-4.2.0/js/jquery.jqGrid.min.js')
			script(src='js/support/jspdf/libs/base64.js')
			script(src='js/support/jspdf/libs/sprintf.js')
			script(src='js/support/jspdf/jspdf.js')
			script(src='js/support/functional.js')
			script(src='js/support/more_functional.js')
			script(src='js/support/match_core.js')
			script(src='js/support/pattern_matcher.js')
			script(src='js/support/combinators.js')
			script(src='js/support/downloadify/js/downloadify.min.js')
			script(src='js/support/downloadify/js/swfobject.js')
			script(src='js/lib/pdf.js')
			script(src='js/lib/grid.js')
			script(src='js/lib/csv.js')
			script(src='js/helpers/dom_helpers.js')
			script(src='js/config/labels.js')
			script(src='js/views/show_view.js')
			script(src='js/models/formatter.js')
			script(src='js/models/data_cleaner.js')
			script(src='js/models/records.js')
			script(src='js/controllers/cleaner_controller.js')
			script(src='js/controllers/pdf_controller.js')
			script(src='js/application.js')			
	body
		!{body}
