script
	Records.setup(!{records});
			
div#label-maker
	div.selected Rows Selected 
		span#NumberSelected
		
	div#upload-form(style=records.length ? "display:none;" : "display:visible;")
		form(method="post", action="/create", enctype="multipart/form-data")
			div
				div
					span Import
					br
					input(type="file", name="labels")
				div
					input(type="submit", value="send")
	div.preview-options
		
		div.label-container
			select#labels
		div#preview-container
			div#preview
		
		div.text-options
			button#Flip
			button#Az
		
		br
		input#generate(type="submit", value="Create Labels")

	div#grid
		table#list
	
		div.grid-options
			div.grid-manage
				form(method="post", action="/export.wtg")
					textarea#CsvData(name="csv_data", style="display:none;")
					input#export(type="submit", value="Export")
				button#ClearGrid Clear Grid
		
			h2 Send to:
			ul#Address
				li#Residents.active
					a location
				li#Owner
					a owner
			div.clear
			h2 Addressee Options
			label(for="use_custom") Use Custom Name
				input(type="checkbox", id="use_custom")
			input#CustomNameField(type="text")
			br
			label(for="use_only_if_owner_does_not_reside_at_address") Only use when owner does not reside at address
				input(type="checkbox", id="use_only_if_owner_does_not_reside_at_address")
