script
	var records = !{records};
	
div#label-maker
	div.preview-options
		
		select#labels
		div#preview-container
			div#preview
		
		div.text-options
			button#Flip Last Name <-> First Name
			button#Az AZ-az
		
		br
		input#generate(type="submit", value="Create Labels")

	div#grid
		table#list
	
		div.grid-options
			h2 Address
			ul#Address
				li#Residents
					a resident
				li#Owner
					a owner
			h2 Addressee Options
			label(for="use_custom") Use Custom Name
				input(type="checkbox", id="use_custom")
			input#CustomNameField(type="text")