script
	var records = !{records};
div.grid
	table#list


div#preview
br
select#labels
input#generate(type="submit", value="create")
button#Az AZ-az
button#Flip Last Name <-> First Name

h2 Address
ul#Address
	li#Residents
		a resident
	li#Owner
		a owner

h2 Addressee Options
label(for="use_custom") Use Custom Name
	input(type="checkbox", id="use_custom")
input#CustomNameField(type="text")
