/* 
 * Reset Stylesheet
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { 
	vertical-align:middle; 
	}
	
input[type=text], input[type=password] {
	border: 2px solid #9CC5E5;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

body {
	font-family: helvetica;
}
/* END RESET CSS */

/* CUSTOM SELECT */

.customStyleSelectBox {
	font-size: 13.5px;
	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px#888;
	box-shadow: 0 0 2px #888;
}

.customStyleSelectBox {
	font-size: 13.5px;
	-moz-box-shadow: 0 0 2px #888;
	-webkit-box-shadow: 0 0 2px#888;
	box-shadow: 0 0 2px #888;
}

span.customStyleSelectBox { font-size:11px; background-color: #fff; color:#7c7c7c; border:1px solid #ccc; height: 23px; }
span.customStyleSelectBox.changed {  }
.customStyleSelectBoxInner { background:url("../images/lm_dropdown_arrow.png") no-repeat center right; padding: 5px 10px; height: 13px;}


/* END CUSTOM SELECT*/
.clear {
	clear:both;
}

#label-maker {
	width: 1150px;
	height:auto;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}

/* PREVIEW AREA */

.label-container {
	width: 370px;
	margin:0 auto;
}
#labels {
	width: 350px;
}

.preview-options {
	width: 400px;
	height: 400px;
	float:right;
}

#preview-container {
	background: url("../images/lm_preview_full_bg.png") no-repeat;
	width: 400px;
	height: 200px;
	margin: 20px auto;
}

#preview {
	padding: 60px;
	width: 260px;
	margin: 15px auto;
	height: 80px;
}

.text-options {
	width: 255px;
	margin:0 auto;
}
/* BUTTONS */

#Flip {
	background: url("../images/lm_nameorder_swap.png") no-repeat;
	width: 153px;
	height:45px;
	border:none;
	margin-right:10px;
}

#Flip:active {
	background: url("../images/lm_nameorder_swap_down.png") no-repeat;
}

#Az {
	background: url("../images/lm_capitalization_swap.png") no-repeat;
	width: 90px;
	height:45px;
	border:none;
}

#Az:active {
	background: url("../images/lm_capitalization_swap_down.png") no-repeat;
}

#ClearGrid {
	background: url("../images/lm_clear_grid_button.png") no-repeat;
	width: 120px;
	height:35px;
	border:none;
	margin-right:10px;
	float:left;
}

#export {
	background: url("../images/le_export_button.png") no-repeat;
	width: 90px;
	height:35px;
	border:none;
}

#generate {
	background: url("../images/lm_go_button.png") no-repeat;
	border:none;
 	width: 325px;
	height:75px;
	margin-left: 9.375%;
	margin-right:9.375%;
	font-size: 20px;
	display:block;
	text-shadow: white 0px 1px 0px;
}

#generate:active {
	background: url("../images/lm_go_button_down.png") no-repeat;
}

#chooseFile {
	width: 170px;
}

#send {
	background: url("../images/lm_add_button.png") no-repeat;
	width: 156px;
	height:30px;
	border:none;
	margin:5px;
}

.excel {
	background: url("../images/lm_excel_icon.png") no-repeat;
	width: 60px;
	height:60px;
	border:none;
	float:left;
}

/*GRID AREA */
#grid {
	height: 350px;
	width: 700px;
	margin-right:50px;
	float:left;
}

.grid-options {
	
}

.grid-options h2 {
	font-size:14px;
	margin-top: 7px;
}

.grid-options ul {
	list-style:none;
}

.grid-options ul li {
	float: left;
	height:45px;
	width:115px;
}

.grid-options ul li a {
	display: block;
	text-align: center;
	margin-top: 10px;
}

#Residents {
	background: url("../images/lm_toggle_left_up.png") no-repeat;
}

#Residents.active {
	background: url("../images/lm_toggle_left_down.png") no-repeat;
}

#Owner {
	background: url("../images/lm_toggle_right_up.png") no-repeat;
}

#Owner.active {
	background: url("../images/lm_toggle_right_down.png") no-repeat;
}

.active {
	background-color: yellow;
}

#upload-form {
	position: absolute;
	z-index: 100;
	top: 150px;
	left: 250px;
}

.selected {
	width: 700px;
	font-size: 12px;
	text-align:right;
}

.grid-manage {
	width: 220px;
	float:right;
	margin:5px;
}

.import-options {
	width: 240px;
}



#downloadify {
	margin-left: 40px;
}



/* JQUERY UPDATES */

.ui-jqgrid .ui-jqgrid-htable th div {
	top:4px;
}

.ui-jqgrid tr.ui-row-ltr td {
	position: relative;
	top: 5px;
}