.clear {
	clear:both;
}

#label-maker {
	width: 1150px;
	height:auto;
	margin: 0 auto;
}

/* PREVIEW AREA */

#labels {
	width: 70%;
	margin-left: 15%;
	margin-right:15%;
}

.preview-options {
	width: 400px;
	height: 400px;
	float:right;
}

#preview-container {
	background: url("../images/lm_preview_full_bg.png") no-repeat;
	width: 400px;
	height: 200px;
	margin: 20px auto;
}

#preview {
	padding: 60px;
	width: 260px;
	margin: 15px auto;
	height: 80px;
}

.text-options {
	width: 245px;
	margin:0 auto;
}

#Flip {
	background: url("../images/lm_nameorder_swap.png") no-repeat;
	width: 153px;
	height:45px;
	border:none;
}

#Az {
	background: url("../images/lm_capitalization_swap.png") no-repeat;
	width: 90px;
	height:45px;
	border:none;
}

#generate {
	background: url("../images/lm_go_button.png") no-repeat;
	border:none;
 	width: 325px;
	height:75px;
	margin-left: 9.375%;
	margin-right:9.375%;
	font-size: 20px;
}

/*GRID AREA */
#grid {
	height: 350px;
	width: 700px;
	margin-right:50px;
	float:left;
}

.grid-options {
	
}

.grid-options h2 {
	font-size:14px;
}

.grid-options ul {
	list-style:none;
}

.grid-options ul li {
	float: left;
	height:45px;
	width:115px;
}

.grid-options ul li a {
	display: block;
	text-align: center;
	margin-top: 10px;
}

#Residents {
	background: url("../images/lm_toggle_left_up.png") no-repeat;
}

#Residents_active {
	background: url("../images/lm_toggle_left_down.png") no-repeat;
}

#Owner {
	background: url("../images/lm_toggle_right_up.png") no-repeat;
}

#Owner_active {
	background: url("../images/lm_toggle_right_down.png") no-repeat;
}

.active {
	background-color: yellow;
}